html, body{
    margin: 0;
    padding: 0;
}

/*naslovna-kontejner*/
div.container-main {
    margin: 0 auto;
    background-color:  	#ffe4a6;
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 20px;
    color: #fff; 
    text-align: center;
    background: #b34426;
    margin-top: -400px;
  }

  .circle h2 {
      margin-top: 90px;
  }

/*naslovna-dugmici*/
.btn-main { 
    padding: 20px;
    margin: 10px 10px;
}

/*#događaj {
   position: relative;
}*/
/*slike-naslovna*/
.responsive {
    width: 100%;
    height: auto;
  }

/*nav bar-strane*/
 .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  } 

#navbar .form-inline .btn {
    color: white;
    border: 1px solid white;
}

#navbar .form-inline .btn:hover {
    background-color: cornflowerblue;
}

/*#container1 .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}*/

/*#container .row {
    border-bottom: 1px solid black;
    padding: -10px -10px;
}*/

#cinema {
    background-image: url("../img/129416-filled-cinema.png");
}

/*slider i repertoar*/
#container1 .row .list-group-item {
    border: none;
}

section #container1 {
    width: 82%;
}

#container1 .row .row2 {
    border: none;
    padding: 0;
}

#container1 .row .row2 h3 a {
    color: black;
    text-decoration: bold;
}

#container1 .row .list-group div h5 {
    text-align: center;
    margin: 10px auto;
    text-decoration: underline;
}

/*#section2{
    background-color:#f0f0f0;
    text-align: center;
    margin: 0 121px;
    padding: 20px 0;
}*/

/*filmovi*/
#container2 {
    background-color: #f0f0f0;
    padding-left: 0;
    padding-right: 0;
    width: 82%;
}

#pagination {
    padding: 20px 0;
}
/*#container2 .row{
    background-color:#f0f0f0;
}
#container2 .card {
    display: inline-block;   
    background-color:#f0f0f0;
    margin-bottom: 10px;
}*/

#container2 h3 {
    padding: 20px 0;
}

#container2 .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  /*footer*/
footer {
    display: inline-block;
    width: 100%;
}

/*kontakt i dr. mreže*/
#container3 #lista1 {
    padding: 15px 10px;
    list-style-type: none;
}

#container3 #lista1 li a {
    color: white;
}

/*pozoriste*/
#theatre {
    background-image: url("../img/theater-masks-01-512.png");
}

.bg-primary1 {
    background-color:  	#ee965b !important;
}

#container2-t {
    background-color: #fffbd8;
    padding-left: 0;
    padding-right: 0;
    width: 82%;
}

#container2-t h3 {
    padding: 20px 0;
}

#container2-t .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #card-body {
      margin-bottom: -23px;
  }

  /*muzeji*/
  #museum {
      background-image: url("../img/3129-200.png");
  }

  .bg-primary2 {
    background-color: 	 	#ba8080 !important;
}

#container2-m {
    background-color:  	#f4dcbc;
    padding-left: 0;
    padding-right: 0;
    width: 82%;
}

#container2-m h3 {
    padding: 20px 0;
}

#container2-m .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  /*forma*/
#form-center {
        margin: 0 auto;
        width:50%; /* value of your choice which suits your alignment */
}

#form-center h1 {
    text-align: center;
}